body {
    background:rgb(195, 147, 240);
}

.assignment {
    display:flex;
    padding:15px;
    margin:10px;
    background:beige;
}

.assignment img {
    width:250px;
    padding:10px;
}

h1 {
    color: blue;
    text-align:center;
}